.mui-icon{
	color: red;
}
.mui-btn-outlined{
	width: 33%;
	margin: 0px;
	border: 0px;
	float: left;
	margin-right: 1px;
	border-radius: 0px;
}

#guding{
	position: fixed;
	top: 40px;
	width: 100%;
	left: 0px;
}
#btn .mui-row{
	width: 100%;
}

/*子页面*/
.mui-card{
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.sp2{
	color: darkgray;
	font-size: 14px;
}
.sp3{
	color: red;
	font-size: 12px;
}
#im1 img{
	width: 100%;
}
.mui-col-sm-2{
	padding: 10px;
	float: left;
	width: 35%;
}
.mui-col-sm-10{
	float: left;
	width: 65%;
}
li{
	list-style: none;
}
.sp4{
	color: red;
	font-size: 20px;
}
.sp8{
	font-size: 13px;
}
.sp7{
	float: right;
	margin-right: 15px;
	color: red;
	margin-top: -35px;
}
.sp6{
	font-size: 11px;
}
.sp8{
	margin-top: 7px;
}
.mui-content img{
	width: 100%;
	margin-bottom: -8px;
	margin-top: -5px;
}
.mui-content{
    padding-left: 0px;
    padding-right: 0px;
}